# Dependabot will run on day 24 of each month at 02:13 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "13 2 24 * *"
    open-pull-requests-limit: 15
    assignees:
      - "schmupu"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "13 2 24 * *"
    open-pull-requests-limit: 15
    assignees:
      - "schmupu"
